<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <title>Job Profile</title>

<link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
<div class="large card">
      <nav class="nav-extended black" id="header">
        <div class="nav-wrapper">
          <a href="/landingPage" class="brand-logo"><img src="/images/genesis_SUBTHEME_logo.png" /></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/JobSearch">Job Seekers</a></li>
            <li><a href="/WorkerSearch">Talent Seekers</a></li>
            <li><a href="/SignUp">Log Out</a></li>
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
  <li class="tab"><a href="#test1"></a></li>
  <li class="tab"><a class="active" href="#test2"></a></li>
  <li class="tab disabled"><a href="#test3"></a></li>
  <li class="tab"><a href="#test4"></a></li>
</ul>
        </div>
      </nav>


         <div class="card-image">
           <img src="/images/anders-jilden-3871.jpg"/>
         </div>
         <div class="card-tabs">
  <ul class="tabs tabs-fixed-width">
    <li class="tab"><a href="#test4">Details & Skills</a></li>
    <li class="tab"><a class="active" href="#test5">Description</a></li>
    <li class="tab"><a href="#test6">Apply</a></li>
  </ul>
</div>
<div class="card-content grey lighten-4">
  <div id="test4">

    <div class="row">
      <div class="col s6 offset-s3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Details & Skills</span>
            <p>Job ID Number: </p>
            <p>Location:</p>
            <p>Experience:</p>
            <p>Certifications:</p>
            <p>Licensing:</p>
            <p>Degrees:</p>
            <p>Skills:</p>
          </br>
        </br>
</div>
</div>
</div>
</div>

  </div>
  <div id="test5">

  <div class="row">
    <div class="col s6 offset-s3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Job Description</span>
          <p>I am a job description. Here is stuff about the job that the employer wants you to know before you decide to apply.</p>
        </br>
      </br>
    </br>
  </br>
</br>
</br>
        </div>
        <div class="card-action">

        </div>
      </div>
    </div>
  </div>


      </div>
      <div class="card-action">

      </div>
      <div id="test6">
        <div class="row">
          <div class="col s6 offset-s3">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Apply Now or Edit Profile First</span>
                <p>By clicking "Apply!" you are sending your current profile and resume.</p>
              </br>
                <button class="btn waves-effect waves-light" type="submit" name="action">Apply!
  <i class="material-icons right">send</i>
</button>
<button class="btn waves-effect waves-light orange" type="submit" name="action">Edit Profile
  <i class="material-icons right">send</i>
</button>
              </br>
            </br>
    </div>
    </div>
    </div>
    </div>

    </div>
  </div>
</div>
  </div>


  </div>
</div>
</div>
       </div>

    </br>
    </br>
   </br>
   </br>
   </br>
     </br>
      </br>
      </br>
    </br>
     </br>
     </br>
   </div>
 </br>
  </br>
  </br>
</br>
 </br>
 </br>
</br>
 </br>
 </br>
</br>
</br>
</br>
<footer class="page-footer black">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">Corporate Office</h5>
               <p class="grey-text text-lighten-4">
1651 Old Meadow Rd., Ste. 600
</p>
<p class="grey-text text-lighten-4">
McLean, VA 22102
</p>
<p class="grey-text text-lighten-4">
Phone: (703) 564-1649
</p>
<p class="grey-text text-lighten-4">
Fax: (703)734-1932</p>
             </div>
             <div class="col l4 offset-l2 s12">
               <h5 class="white-text">I want to . . . </h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="/JobSearch">Find a job</a></li>
                 <li><a class="grey-text text-lighten-3" href="/WorkerSearch">Find talent</a></li>
                 <li><a class="grey-text text-lighten-3" href="/SignUp">Log Out</a></li>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2018 Copyright
           <a class="grey-text text-lighten-4 right" href="#!">Photo by Anders Jildén on Unsplash</a>
           </div>
         </div>
       </footer>

  <script type="text/javascript" src="./landingPage.js"></script>

  </body>
</html>
