<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <title>Job Search</title>

<link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
<div class="large card">
      <nav class="nav-extended black" id="header">
        <div class="nav-wrapper">
          <a href="/landingPage" class="brand-logo"><img src="/images/genesis_SUBTHEME_logo.png" /></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/JobSearch">Job Seekers</a></li>
            <li><a href="/WorkerSearch">Talent Seekers</a></li>
            <li><a href="/SignUp">Login</a></li>
            <li><a href="/SignUp">Sign Up</a></li>
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
  <li class="tab"><a href="#test1"></a></li>
  <li class="tab"><a class="active" href="#test2"></a></li>
  <li class="tab disabled"><a href="#test3"></a></li>
  <li class="tab"><a href="#test4"></a></li>
</ul>
        </div>
      </nav>


         <div class="card-image">
           <img src="/images/anders-jilden-3871.jpg"/>
         </div>
         <div class="card-tabs">
  <ul class="tabs tabs-fixed-width">
    <li class="tab"><a href="#test4">Unfiltered List</a></li>
    <li class="tab"><a class="active" href="#test5">Search Options</a></li>
    <li class="tab"><a href="#test6">Search Results</a></li>
  </ul>
</div>
</div>
<div class="card-content grey lighten-4">
  <div id="test4">

        <h4>Jobs</h4>
            <ul class="collection">
              <li class="collection-item avatar">
              <i class="material-icons circle">business_center</i>
                <span class="title">Experieced Trial Attorney</span>
                <p>Phoenix, AZ <br>
                   5+ Years Experience
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle">business_center</i>
                <span class="title">Recent Law Grad</span>
                <p>Tuscon, AZ <br>
                   Entry Level
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle">business_center</i>
                <span class="title">Experienced Legal Assistant</span>
                <p>Washington, DC <br>
                   1+ Years Experience
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle">business_center</i>
                <span class="title">Contract Specialist</span>
                <p>Phoenix, AZ <br>
                   5+ Years Experience
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
              </li>
                  <li class="collection-item"><div><strong>Next Page</strong><a href="./WorkerSearch.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            </ul>
  </div>
  <div id="test5">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">search</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Keyword</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">public</i>
            <input id="icon_telephone" type="tel" class="validate">
            <label for="icon_telephone">Location</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Experience Level</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">account_balance</i>
            <input id="icon_telephone" type="tel" class="validate">
            <label for="icon_telephone">Specialty</label>
          </div>
        </div>
      </form>
    </div>



  </div>
  <div id="test6">

        <h4>Matches</h4>
            <ul class="collection">
              <li class="collection-item avatar">
              <i class="material-icons circle">business_center</i>
                <span class="title">Experieced Trial Attorney</span>
                <p>Phoenix, AZ <br>
                   5+ Years Experience
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle">business_center</i>
                <span class="title">Recent Law Grad</span>
                <p>Tuscon, AZ <br>
                   Entry Level
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle">business_center</i>
                <span class="title">Experienced Legal Assistant</span>
                <p>Washington, DC <br>
                   1+ Years Experience
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle">business_center</i>
                <span class="title">Contract Specialist</span>
                <p>Phoenix, AZ <br>
                   5+ Years Experience
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
              </li>
                  <li class="collection-item"><div><strong>Next Page</strong><a href="./WorkerSearch.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            </ul>
  </div>
</div>
</div>
       </br>
        </br>
        </br>
       </br>
       </br>
       </br>
       </br>
       </br>
       </br>
       </br>
       </br>
       </br>
       <footer class="page-footer black">
               <div class="container">
                 <div class="row">
                   <div class="col l6 s12">
                     <h5 class="white-text">Corporate Office</h5>
                     <p class="grey-text text-lighten-4">
       1651 Old Meadow Rd., Ste. 600
       </p>
       <p class="grey-text text-lighten-4">
       McLean, VA 22102
       </p>
       <p class="grey-text text-lighten-4">
       Phone: (703) 564-1649
       </p>
       <p class="grey-text text-lighten-4">
       Fax: (703)734-1932</p>
                   </div>
                   <div class="col l4 offset-l2 s12">
                     <h5 class="white-text">I want to . . . </h5>
                     <ul>
                       <li><a class="grey-text text-lighten-3" href="/JobSearch">Find a job</a></li>
                       <li><a class="grey-text text-lighten-3" href="/WorkerSearch">Find talent</a></li>
                       <li><a class="grey-text text-lighten-3" href="/SignUp">Login</a></li>
                       <li><a class="grey-text text-lighten-3" href="/SignUp">Sign Up</a></li>
                     </ul>
                   </div>
                 </div>
               </div>
               <div class="footer-copyright">
                 <div class="container">
                 © 2018 Copyright
                 <a class="grey-text text-lighten-4 right" href="https://unsplash.com/@andersjilden">Photo by Anders Jildén on Unsplash</a>
                 </div>
               </div>
             </footer>


        </body>
       </html>
