<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <title>Landing Page</title>

<link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
<div class="large card">
      <nav class="nav-extended black" id="header">
        <div class="nav-wrapper">
          <a href="/landingPage" class="brand-logo"><img src="/images/genesis_SUBTHEME_logo.png" /></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/JobSearch">Job Seekers</a></li>
            <li><a href="/WorkerSearch">Talent Seekers</a></li>
            <li><a href="/SignUp">Login</a></li>
            <li><a href="/SignUp">Sign Up</a></li>
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
  <li class="tab"><a href="#test1"></a></li>
  <li class="tab"><a class="active" href="#test2"></a></li>
  <li class="tab disabled"><a href="#test3"></a></li>
  <li class="tab"><a href="#test4"></a></li>
</ul>
        </div>
      </nav>


         <div class="card-image">
           <img src="/images/anders-jilden-3871.jpg" />
         </div>
         <div class="card-tabs">
  <ul class="tabs tabs-fixed-width">
    <li class="tab"><a href="#test4">Find Talent</a></li>
    <li class="tab"><a class="active" href="#test5">Contact Us</a></li>
    <li class="tab"><a href="#test6">Find a Job</a></li>
  </ul>
</div>
<div class="card-content grey lighten-4">
  <div id="test4">

    <h4>Recent Candidates</h4>
        <ul class="collection">
              <li class="collection-item"><div><strong>See More</strong><a href="/WorkerSearch" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <% for(i=0;i<20;i++){ %>
            <% if(workers[i]){ %>

          <li class="collection-item avatar">
          <i class="material-icons circle">business_center</i>
            <span class="title"><%= workers[i].username %></span>
            <p><%= workers[i].location %> <br>
               <%= workers[i].experience %> years experience
            </p>
            <a href="/CandidateProfile/<%=workers[i].id%>" class="secondary-content"><i class="material-icons">send</i></a>
          </li>


            <% } %>
              <% } %>

        </ul>
  </div>
  <div id="test5">
    <div class="row">
  <div class="col s12 m6 offset-s3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Contact Us</span>
        <p>Damon Mclean</p>
<p>Director of Growth,</p>
<p>Continuum Legal</p>
<p>Mobile phone: 609-613-8818</p>
<p>dmclean@continuumlegal.com</p>
</br>
</br>
      </div>
      <div class="card-action">
        <a href="http://www.linkedin.com/in/damonmclean/">LinkedIn</a>

      </div>
    </div>
  </div>
<div class="col s12 m6 offset-s3">
<iframe
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/589cee96-b1f9-49a2-a966-725882735769">
</iframe>
</div>
  </div>
  </div>
  <div id="test6">
<h4>Candidate Options</h4>
    <ul class="collection">

      <li class="collection-item avatar">
      <i class="material-icons circle">business_center</i>
        <span class="title">Search Jobs</span>
        <p>by <br>
           Keyword, location, experience level, and specialty
        </p>
        <a href="/JobSearch" class="secondary-content"><i class="material-icons">send</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">business_center</i>
        <span class="title">Create an Account</span>
        <p>to <br>
           Build a profile and resume and start applying!
        </p>
        <a href="/SignUp" class="secondary-content"><i class="material-icons">send</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">business_center</i>
        <span class="title">Login to my Account</span>
        <p>to <br>
           Update my profile and resume and find employers!
        </p>
        <a href="/SignUp" class="secondary-content"><i class="material-icons">send</i></a>
      </li>

          <li class="collection-item"><div><strong>See More</strong><a href="/JobSearch" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    </ul>
  </div>
</div>
</div>
       </div>

    </br>
    </br>
   </br>
   </br>
   </br>
     </br>
      </br>
      </br>
    </br>
     </br>
     </br>
   </div>
 </br>
  </br>
  </br>
</br>
 </br>
 </br>
</br>
 </br>
 </br>
</br>
</br>
</br>
<footer class="page-footer black">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">Corporate Office</h5>
               <p class="grey-text text-lighten-4">
1651 Old Meadow Rd., Ste. 600
</p>
<p class="grey-text text-lighten-4">
McLean, VA 22102
</p>
<p class="grey-text text-lighten-4">
Phone: (703) 564-1649
</p>
<p class="grey-text text-lighten-4">
Fax: (703)734-1932</p>
             </div>
             <div class="col l4 offset-l2 s12">
               <h5 class="white-text">I want to . . . </h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="/JobSearch">Find a job</a></li>
                 <li><a class="grey-text text-lighten-3" href="/WorkerSearch">Find talent</a></li>
                 <li><a class="grey-text text-lighten-3" href="/SignUp">Login</a></li>
                 <li><a class="grey-text text-lighten-3" href="/SignUp">Sign Up</a></li>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2018 Copyright
           <a class="grey-text text-lighten-4 right" href="https://unsplash.com/@andersjilden">Photo by Anders Jildén on Unsplash</a>
           </div>
         </div>
       </footer>


  </body>
</html>
